<div class="container">
  <div class="row" id="timKiem">
   
      <input
        class="form-control me-2"
        type="search"
        placeholder="Nhập vào đây...."
        aria-label="Search"
        ng-model="search"
      />
    
   
  </div>
  <div class="row" id="banner">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/banner1.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner2.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner3.png" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <h3 id="tieude-dienthoai">MẪU ĐIỆN THOẠI BÁN CHẠY</h3>
  <hr id="duongKe" />
  <div class="row">
    <div class="col-3" id="cardSP" ng-repeat="dt in mangSanPham | filter:search">
      <div class="card" style="width: 18rem" id="card-SP">
        <a href="#dentail/{{dt.id}}"
          ><img
            id="img"
            src="../../assets/{{dt.img}}"
            class="card-img-top"
            alt="..."
        /></a>
        <div class="card-body">
          <div class="row">
            <p class="card-text" id="tenSP">{{dt.ten}}</p>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="card-text" id="giaSP">{{dt.gia}} VNĐ</p>
            </div>
            <div class="col-6">
              <img src="../../assets/img10.gif" alt="" id="icon-hot" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h4 id="tenqc">CHUYÊN TRANG THƯƠNG HIỆU</h4>
    <div class="col-3">
      <img src="../../assets/bn1.jpg" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/bn3.png" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/bn2.png" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/bn4.png" alt="" id="bn" />
    </div>
  </div>
  <div class="row">
    <h4 id="tenqc">ƯU ĐÃI THANH TOÁN</h4>
    <div class="col-3">
      <img src="../../assets/thanhtoan1.jpg" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/thanhtoan2.jpg" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/thanhtoan3.jpg" alt="" id="bn" />
    </div>
    <div class="col-3">
      <img src="../../assets/thanhtoan4.png" alt="" id="bn" />
    </div>
  </div>

  <h3 id="tieude-dienthoai">MẪU ĐỒNG HỒ BÁN CHẠY</h3>
  <hr id="duongKe" />
  <div class="row">
    <div class="col-3" id="cardSP" ng-repeat="dh in mangDongHo">
      <div class="card" style="width: 18rem" id="card-SP">
        <a href="#dentail/{{dh.id}}"
          ><img src="../../assets/{{dh.img}}" class="card-img-top" alt="..."
        /></a>
        <div class="card-body">
          <div class="row">
            <p class="card-text" id="tenSP">{{dh.ten}}</p>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="card-text" id="giaSP">{{dh.gia}} VNĐ</p>
            </div>
            <div class="col-6">
              <img src="../../assets/img10.gif" alt="" id="icon-hot" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
